<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCaiKhe77RT-8k_DhO89_PTM2tmTk5KhUo</string>
	<key>GCM_SENDER_ID</key>
	<string>853523636164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.currencyCleanArchitecture</string>
	<key>PROJECT_ID</key>
	<string>currency-clean-architecture</string>
	<key>STORAGE_BUCKET</key>
	<string>currency-clean-architecture.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853523636164:ios:54b22a5f2085e823928e91</string>
</dict>
</plist>